:root {
    --Orange-color: #DA722C;
    --Dark-blue-color: #023047;
    --Dark-color: #070917;
    --Light-color: #E8F7FB;
    --Light-blue-color: #6F7DFB;
    --Sky-blue-color: #057ADA;
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;

}
/* Buttons */

.btn {
    padding: 16px 32px;
    border-radius: 24px 24px 24px 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: var(--Dark-blue-color);
}

.btn.light {
    background: var(--Orange-color);
}

.btn.enrol-icon::before {
    content: url(Image/enroll.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon {
    padding-left: 60px;
}

/* Header */

header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    padding: 36px;
    z-index: 100;
}

nav.scrolled {
    background: #070917;
    box-shadow: 0 16px 14px -8px rgba(0,0,0,0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
    transition: 500ms;
}

nav .logo {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;

  }

  nav ul li a {
    color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins",sans-serif;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
  }

/* Hero Section */

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
}

.hero-section .left h1 {
    color: #fff;
  font-size: 50px;
  text-align: left;
  font-family: "Raleway",sans-serif;
  font-weight: 900;
  line-height: 125%;
  margin-bottom: 0;
}

.hero-section .left p {
    color: #fff;
  font-size: 16px;
  font-family: "Poppins",sans-serif;
  font-weight: normal;
  line-height: 200%;
  margin-bottom: 30px;
  max-width: 457px;
}

.hero-section .left {
   flex: 1;
}

.hero-section .right {
    align-self: flex-end;
}

.hero-section .right img {
    height: 520px;
    vertical-align: middle;
}

/* Achievement Cards*/

.achievement-card {
    position: absolute;
    /*min-width: 200px;*/
   
}

.achievement-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.students-enrolled {
    right: 35%;
    top: 240px;
}

.achievement-card.overall-rating {
    right: 40%;
    top: 420px;  

}

.achievement-card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3 {
    color: #023047;
    font-size: 36px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
    line-height: 125%;
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p {
    font-family: "Poppins",sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    color: #023047;
    margin-top: -6px;
    margin-bottom: 8px;
}

.achievement-card .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6F7DFB 0%, #3b448f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}


/* Tesimonial Section*/

section {
    margin-top: 100px;

}

h2 {
    color: #023047;
    font-size: 60px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    line-height: 72px;
    margin: 0;
}

h2.light {
    color: #fff;
}

section p {
    color: #023047;
    font-size: 16px;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: normal;
    line-height: 200%;
   margin: 12px 0;
}

.testimonials-section {
    display: flex;
    gap: 100px;
    align-items: center;
}

.testimonials-section .mobile-btn {
    display: none;
}

.testimonials-section .testimonial-card {
  width: 442px;
  background: #fff;
  box-shadow: 0 9px 36px 0 rgba(0,0,0,.2);
  border-radius: 24px;
  margin-bottom: 50px;
  position: relative;
}

.testimonials-section .testimonial-card::before {
    content: "";
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    background: #070917;
    border-radius: 24px 24px 0 0;
}

.testimonials-section .testimonial-card:last-child::before {
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
}

.testimonials-section .testimonial-card .content {
    color: #fff;
  font-size: 18px;
  font-family: "Raleway",sans-serif;
  font-weight: 900;
  line-height: 27px;
  border-radius: 24px;
  padding: 24px 32px;
  background-color: #6F7DFB;
 
}

.testimonials-section .testimonial-card:last-child .content {
    background-color: #DA722C;
}

.testimonials-section .testimonial-card:last-child {
    transform: translateX(25px);
}

.testimonials-section .testimonial-card .info h4 {
    color: #070917;
    font-size: 24px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    line-height: 22px;
    margin: 0;
}

.testimonials-section .testimonial-card .info {
    padding: 24px 32px;
    background: #fff;
    border-radius: 24px;
}

.testimonials-section .testimonial-card .info p.company {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #023047;
}

.testimonials-section .testimonial-card img {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 32px;
    bottom: 20px;
}

.testimonials-section .features {
    margin-bottom: 30px;
}

/*courses section*/

.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0;
    padding-bottom: 120px;
}

.courses-section h2 {
    text-align: center;
}

.courses-section .course-cards {
    display: flex;
    gap: 70px;
}

.courses-section .course-cards img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.25);
    border-radius: 24px;
}

.courses-section .course-card {
    background-color: #fff;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 40px 0;
    position: relative;
}

.courses-section .course-card::after {
    content: "";
    height: 8px;
    left: 32px;
    right: 32px;
    bottom: 0;
    border-radius: 24px;
    position: absolute;
    background: #023047;
}

.courses-section .course-card h3 {
    color: #023047;
    font-size: 30px;
    font-style: normal;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    line-height: 45px;
   
}

.courses-section .course-card .info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.courses-section .course-card .duration {
    color: #023047;
    font-size: 16px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    padding-left: 20px;
}

.courses-section .course-card .duration::before {
    content: url(Image/Clock.svg);
    position: absolute;
    top: 2px;
    left: -6px;
}

.courses-section .wrapper {
    position: relative;
}

.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}

/* App Section*/

.app-section {
    text-align: center;
}

.app-section p {
    text-align: center;
}

.app-section .app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

.app-section .app-btn {
    padding: 16px 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 14px;
    min-width: 310px;
    box-sizing: border-box;
}

.app-section .app-btn span {
    color: #fff;
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: normal;
}

/* footer */

footer {
    background: #070917;
    color: #fff;
    margin-top: 100px;
    padding: 70px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer h3 {
    color: #DA722C;
}

footer ul {
    list-style: none;
    padding-left: 20px;
}

footer ul li {
    margin: 16px 0;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
    margin-left: 20px;
}

footer .social a {
    margin-right: 28px;
}

footer form {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}

footer form input {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    width: 100%;
}

footer form .submit-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #023047;
    border-radius: 8px;
    padding: 8px 32px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
}

footer .copyright {
    margin-top: 36px;
}
